<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <style>
      .hidden{
        display: none;
      }
    </style>
    <title>CRM</title>
  </head>

  <body>
    <div class="main">
      <div class="main-left" id="main-left" style="background-color:#fff">
        <div class="logo">
          <!-- <img src="logo.png" alt="logo" width="100%" /> -->
          <h1>COBRA</h1>
        </div>
        <div class="main-links">
          <ul>
            {% for dev in developers %}
              <li class="main-item" id='{{dev.user.username}}'>
                <a href="#" class="left-link">
                  <span class="main-icon">
                    <i class="fa fa-user-o" aria-hidden="true"></i></span
                  ><span class="main-text">{{dev.user.get_full_name}}{% if dev.online %}(Online){% else %}(Offline){% endif %}</span></a
                >
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="main-right">
        <div class="right-header">
          <div class="" style="display:flex; align-items:center; justify-content:center;">
            <div class="burger-menu" id="burgermenu" style="margin-right: 1em; font-size: 1.5rem;"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <a href="#" class="user-name">
              <span class="right-header-img">
                <img
                  src="https://demo.rajodiya.com/salesy-saas/storage/upload/profile/avtar2.jpg"
                  alt=""
                />
              </span>
              <span>Hi, {{request.user.get_full_name}}</span>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
          </div>
          <div class="heading_language_and_chats">
            <a href="#" class="heading-messages">
              <i class="fa fa-commenting-o" aria-hidden="true"></i>
              <span class="heading-message-counter">1</span>
            </a>
            {% comment %} <a href="">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <span>EN</span>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a> {% endcomment %}
          </div>
        </div>
        <div class="main-content">
          <div class="content-heading">
            <h1>Dashboard</h1>
          </div>
          <div class="outer_right_data">
            <div class="right_data">
              <table>
                <thead>
                  <tr>
                    <th>list of acess files</th>
                    <th>time/date</th>
                    <th>Action</th>
                  </tr>
                  <tr></tr>
                </thead>
                {% for dev in developers %}
                  <tbody id="{{dev.user.username}}-body" class='hidden'>
                    {% for assigned_file in dev.assigned_files %}
                        <tr>
                            <td>{{assigned_file.file_path}}</td>
                            <td>{{assigned_file.access_given_on}}</td>
                            <td>
                              <button class="vbtn">Edit</button>
                              <button class="vbtn">Logs</button>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                {% endfor %}
                
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    >
        const left = document.getElementById('main-left');
        const button = document.getElementById('burgermenu');


    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      $('.main-item').on('click', function(){
        id = $(this).attr('id')
        $('tbody').hide()
        $(`#${id}-body`).show()
      })
    </script>
  </body>
</html>
