<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ProMa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css" integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if user.is_superuser %}
        <div class="main">
            <div class="left">
                <div class="left_header">
                    <h1>Developer List</h1>
                </div>
            </div>
            <div class="right">
                <div class="right_header">
                    <h3>Other Tasks</h3>
                </div>
                <div class="outer_right_data" id="editor">
                    <div class="right_data">
                        
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="main">
            <div class="left">
                <div class="left_header">
                    <h2>Assigned Files List</h2>
                </div>
                {% for i in files %}
                    <h3 class="files" file-name='{{i.file_name}}' content='{{i.content}}'><i class="fas fa-file" style="color:gray"></i> {{i.file_name}}<span style="float:right">{{i.size}} Bytes</span></h3>
                {% endfor %}
            </div>
            <div class="right">
                <div class="right_header">
                    
                </div>
                <div class="outer_right_data">
                    <div class='tabs-container'>
                        <!-- <h3 id='1'>File 1</h3>
                        <h3 id='2'>File 2</h3>
                        <h3 id='3'>File 3</h3> -->
                    </div>
                    <div class='code-container'>
                        <div class="right_data" id="editor">
                            
                        </div>
                        <!-- <div class="right_data" id='code-1'></div>  
                        <div class="right_data" id='code-2'></div>   -->
                        <!-- <div class="right_data" id='code-3'></div>   -->
                    </div>
                    <!--
                    <div class='tab-container' id='tab-${$(this).attr('file-name')}'>
                        <h4>${$(this).attr('file-name')}</h3>
                        <div class="right_data" id="${$(this).attr('file-name')}">
                        
                        </div>    
                    </div>
                    -->
                </div>
            </div>
        </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'ace-assets/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-assets/theme-twilight.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-assets/mode-php_laravel_blade.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
    </script>
    <script>
        
        var editor = ace.edit('editor');
        var HTMLMode = ace.require("ace/mode/html").Mode;
        editor.session.setMode(new HTMLMode());
        code_session = []
        $('.files').each(function(){
            obj = {
                'file_name': $(this).attr('file-name'),
                'session': ace.createEditSession($(this).attr('content'))
            }
            code_session.push(obj)
        })
        $('.files').on('click', function(){
            file_name = $(this).attr("file-name")
            tabs = $('.tabs-container h3')
            $('.tabs-container h3').css('background-color', 'white')
            loop = false
            $.each(tabs, function(i, obj){
                if ($(this).attr('id') === file_name){
                    loop = true
                    $.each(code_session, function(i, obj){
                        if ($(this).attr('file_name') === file_name){
                            obj.session.setMode(new HTMLMode())
                            editor.setSession(obj.session);
                        }
                    })

                    $(this).css('background-color', 'crimson')
                }
            })
            if (loop === false){
                $.each(code_session, function(i, obj){
                    if (obj.file_name === file_name){
                        obj.session.setMode(new HTMLMode());
                        editor.setSession(obj.session);
                    }
                })
                $('.tabs-container').append(
                    $('<h3/>')
                    .attr('id', file_name)
                    .css('background-color', 'crimson')
                    .text(file_name)
                )
            }
        })
        // Code to get files and render on page
        // $('.folders').on('click', function(){
        //     root_folder = '{{project_name}}'
        //     request_folder = $(this).attr('folder-name')
        //     container = $('#' + request_folder)
        //     $.ajax({
        //         url : location.origin + "/folder-data/" + root_folder + '/' + request_folder,
        //         type: 'get',
        //         dataType: "json",
        //         contentType: 'application/json; charset=utf-8',
        //         success : function (data) {
        //             $.each(data.project_folders, function(key, value){
        //                 container.append(`<div class="sub-container" id="${request_folder}/${value.name}"><h3 class="folders" folder-name=${value.name}><i class="fas fa-folder"></i> ${value.name}</h3></div>`)
        //             })
        //         },
        //         statusCode: {
        //             404: function() {
        //                 console.log("Error 404")
        //             },
        //             401: function() {
        //                 window.location.replace("/login"); 
        //             },
        //         },
        //         error: function () {
        //             console.log("Error")
        //         },
        //     });
        // })
        
    </script>
</body>

</html>