<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ProMa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.1/css/all.min.css" integrity="sha512-3M00D/rn8n+2ZVXBO9Hib0GKNpkm8MSUU/e2VNthDyBYxKWG+BftNYYcuEjXlyrSO637tidzMBXfE7sQm0INUg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
    </style>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
</head>

<body>
    <div class="main">
        <div class="main-left" id="main-left">
            <div class="logo">
              <!-- <img src="logo.png" alt="logo" width="100%" /> -->
              <h1>COBRA</h1>
            </div>
            <div class="main-links">
              <ul>
                {% for i in files %}
                  <h3 class="files" file-name='{{i.file_name}}' file-path="{{i.file_path}}" content='{{i.content}}'><i class="fas fa-file" style="color:gray"></i> {{i.file_name}}<span style="float:right">{{i.size}} Bytes</span></h3>
                {% endfor %}
              </ul>
            </div>
        </div>
        <div class="main-right">
          {% csrf_token %}
            <div class="right_header">
              <div class="" style="display:flex; align-items:center; justify-content:space-between;padding:15px 0px;background-color: #c5c5c5;">
                <div class="burger-menu" id="burgermenu" style="margin-right: 1em; font-size: 1.5rem;"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <a href="#" class="user-name">
                  <span class="right-header-img">
                    <img
                      src="https://demo.rajodiya.com/salesy-saas/storage/upload/profile/avtar2.jpg"
                      alt=""
                    />
                  </span>
                  <span>Hi, {{request.user.get_full_name}}</span>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="outer_right_data">
                <div class='tabs-container'>
                </div>
                <div class='code-container'>
                    <div class="right_data" id="editor">
                        
                    </div>
                </div>
                <div class="save-button">Save this File</div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'ace-assets/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-assets/theme-twilight.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-assets/mode-php_laravel_blade.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
    </script>
    <script>
        
        var editor = ace.edit('editor');
        var HTMLMode = ace.require("ace/mode/html").Mode;
        editor.session.setMode(new HTMLMode());
        current_file = null
        code_session = []
        $('.files').each(function(){
            obj = {
                'file_name': $(this).attr('file-name'),
                'file_path': $(this).attr('file-path'),
                'session': ace.createEditSession($(this).attr('content'))
            }
            code_session.push(obj)
        })
        $('.files').on('click', function(){
            file_name = $(this).attr("file-name")
            tabs = $('.tabs-container h3')
            $('.tabs-container h3').css('background-color', 'white')
            loop = false
            $.each(tabs, function(i, obj){
                if ($(this).attr('id') === file_name){
                    loop = true
                    $.each(code_session, function(i, obj){
                        if ($(this).attr('file_name') === file_name){
                            obj.session.setMode(new HTMLMode())
                            editor.setSession(obj.session);
                            current_file = $(this).attr('file_path')
                        }
                    })

                    $(this).css('background-color', '#c5c5c5')
                }
            })
            if (loop === false){
                $.each(code_session, function(i, obj){
                    if (obj.file_name === file_name){
                        obj.session.setMode(new HTMLMode());
                        editor.setSession(obj.session);
                        current_file = obj.file_path
                    }
                })
                $('.tabs-container').append(
                    $('<h3/>')
                    .attr('id', file_name)
                    .css('background-color', '#c5c5c5')
                    .text(file_name)
                )
            }
        })

        // Save the file
        $('.save-button').on('click', function(){
          var code = editor.getValue();
          data = {
            'data': code,
            'file_path': current_file
          }
          $.ajax({
              headers: {
                  'X-CSRFTOKEN': '{{ csrf_token }}'
              },
              url : location.origin + "/save-file",
              type: 'post',
              data: data,
              dataType: "json",
              // contentType: 'application/json; charset=utf-8',
              success : function (data) {
                alert('File Saved!')
              },
              statusCode: {
                  404: function() {
                      console.log("Error 404")
                  },
                  401: function() {
                      window.location.replace("/login"); 
                  },
              },
              error: function () {
                  console.log("Error")
              },
          });
        })

        // Logout one close
        $(document).ready(function(){         
            $(window).on("beforeunload", function(e) {
                $.ajax({
                    url: location.origin + "/close-tab",
                    method: 'GET',
                })
            });
        });
        // Code to get files and render on page
        // $('.folders').on('click', function(){
        //     root_folder = '{{project_name}}'
        //     request_folder = $(this).attr('folder-name')
        //     container = $('#' + request_folder)
        //     $.ajax({
        //         url : location.origin + "/folder-data/" + root_folder + '/' + request_folder,
        //         type: 'get',
        //         dataType: "json",
        //         contentType: 'application/json; charset=utf-8',
        //         success : function (data) {
        //             $.each(data.project_folders, function(key, value){
        //                 container.append(`<div class="sub-container" id="${request_folder}/${value.name}"><h3 class="folders" folder-name=${value.name}><i class="fas fa-folder"></i> ${value.name}</h3></div>`)
        //             })
        //         },
        //         statusCode: {
        //             404: function() {
        //                 console.log("Error 404")
        //             },
        //             401: function() {
        //                 window.location.replace("/login"); 
        //             },
        //         },
        //         error: function () {
        //             console.log("Error")
        //         },
        //     });
        // })
        
    </script>
</body>

</html>